Source: nfc-plugin-nxp
Section: libs
Priority: extra
Maintainer: Wonkyu Kwon <wonkyu.kwon@samsung.com>
Build-Depends: debhelper (>= 5), libaul-1-dev, syspopup-caller-dev, libglib2.0-dev, libecore-dev, libvconf-dev, libelm-dev, libmm-common-dev, libmm-sound-dev, libsecurity-server-client-dev, libcontacts-service-dev, libcontacts-service-dev, libbluetooth-frwk-dev,libdbus-glib-1-dev, dlog-dev, libslp-memo-dev, syspopup-caller-dev, libnfc-common-lib-dev
Standards-Version: 0.0.1

Package: libnfc-plugin-nxp-0
Section: libs
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NFC Plugin for NXP Solution

Package: libnfc-plugin-nxp-dev
Section: libs
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, libnfc-plugin-nxp-0 (= ${Source-Version})
Description: NFC Plugin for NXP Solution (stripped)

Package: libnfc-plugin-nxp-dbg
Section: debug
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, libnfc-plugin-nxp-0 (= ${Source-Version}) 
Description: NFC Plugin for NXP Solution (unstripped)
